
.visual{margin-top: 300px; position: relative ; width: 2000px; left: 50%; margin-left: -1000px;
    overflow: hidden;}
    /* .visual .text_box{width: 100%; text-align: center; position: absolute; font-weight: bold; top: 300px;}
    .visual .visual_title{font-family: 'Roboto', sans-serif; color: #f9f9f9; font-size: 65px;
        text-shadow: 5px 5px 5px rgb(0 24 47 / 50%); margin-bottom: 30px;}
    .visual .visual_subtitle{font-family: 'Nanum Gothic', sans-serif; color: #f9f9f9; font-size: 30px;} */
    
    .gallery {position:relative; overflow:hidden; width:6000px; height:800px;left:0; top:0;}
    .gallery ul li {float:left; list-style:none;}
    /* .gallery_text {position: absolute; top: 320px; width: 100%; font-family: 'Nanum Gothic', sans-serif; } */
    /* .gallery_text li {text-align: center; font-size: 30px; color: #fff; text-shadow: 5px 5px 5px rgb(0 24 47 / 50%);  padding: 20px 0; display: none} */
    /* .gallery_text ul span {font-size: 60px; font-family: 'Roboto', sans-serif; font-weight: bold;} */
    
    .dock{width:500px; position:absolute;  bottom:50px; left: 50%; margin-left: -50px;}
    .dock span.mbutton{ margin-right:15px; cursor:pointer; display:block; float:left;  width:13px; height:13px; background:none; border: 2px solid #fff; border-radius:8px; transition: all .5s}
    .dock .ps{ margin-right:15px; margin-top: -3px; cursor:pointer; 
    display:block; float:left; width:25px; height:25px;
    background:url(../images/stop-button.png)no-repeat;}
    
    
    img{border:0; vertical-align:top;}
    
    #content{margin: 0 auto; position: relative;}
    
    /*search*/
    #content .search_inner{width: 1200px; margin: 0 auto; position: relative;}
    #content .search{height: 360px; background: #00abcd; overflow: hidden; margin-bottom: 130px; position: relative;}
    #content .search_title{font-size: 40px; font-weight: bold; font-family: 'Nanum Gothic', sans-serif; color: #fff; margin: 90px 0 23px 0; text-align: center;}
    #content .searchBox{ height: 50px; background: #fff; border-radius: 25px; margin: 0 200px 20px 200px; }
    #content #search{width: 600px; height: 45px; font-size: 20px; color: #666; border: none;  background: none; outline: none; margin-left: 50px;} 
    #content button{position: absolute; background:none; border: #fff;top: 87px; right: 230px;}
    #content button .fas{color: #666; font-size: 30px;}
    #content .tag{overflow: hidden; margin: 0 30px 0 350px;}
    #content .tag li{float: left; font-size:1.125em;margin-left: 20px; }
    #content .tag a{color: #fff; font-family: 'Nanum Gothic', sans-serif;}
    #content .tag .last{margin-right: 0;}
    
    /*product*/
    #content .product{overflow: hidden; position: relative; width: 1200px; margin: 0 auto; margin-bottom: 130px; padding-bottom: 10px;}
    #content .product_title{font-size: 50px; font-weight: bold; font-family: 'Roboto', sans-serif;margin: 0 0 50px 450px;}
    #content .letter_fst{color: #00abcd;}
    #content .mini{font-size: 20px; font-weight: normal; font-family: 'Nanum Gothic', sans-serif;margin-left: 35px;}
    #content .product .sub_text{font-family: 'Nanum Gothic', sans-serif; font-size:1.125em;text-align: center;}
    #content .product #slide_gallery_box{width:1050px; overflow:hidden; position:relative; margin: 0 auto; margin-top: 80px; margin-bottom: 50px;}
    #content .product .slide_gallery{position:relative; left:0; top:0; width:4900px;}
    #content .product .slide_gallery ul li{float:left; list-style:none;}
    #content .product .slide_gallery a{display: block; text-decoration: none; color: #333;}
    #content .product .slide_gallery dl{text-align: center; padding: 30px 0;}
    #content .product .slide_gallery dt{font-size: 20px; margin-bottom: 10px; font-weight: bold; font-family: 'Nanum Gothic', sans-serif;}
    #content .product .slide_gallery dd{margin-bottom: 10px; font-family: 'Nanum Gothic', sans-serif;}
    #content .btnBox{display: block; margin-bottom: 130px; margin: 0 auto; padding: 10px 15px; background: #00abcd; color: #fff; width: 170px; text-align: center; border-radius: 20px;transition: all .2s;  font-family: 'Nanum Gothic', sans-serif;}
    #content .btnBox:hover{display: block; padding: 10px 15px; background: #00abcd; color: #fff; width: 170px; text-align: center; border-radius: 20px; opacity: .7; box-shadow: 1px 1px 5px 1px #999;}
    #content .button:hover{color: #00abcd;}
    #content .sub_menu_box{position: relative;}
    #content .m1{font-size: 50px; color: #ccc; transition: all .2s;position: absolute; top: -300px;right: 0px; cursor: pointer;}
    #content .m2{font-size: 50px; color: #ccc; transition: all .2s; position: absolute; top: -300px; left: 0px; cursor: pointer;}
    #slide_gallery_box .slide_gallery li img,dt{transition: all .7s;}
    #slide_gallery_box .slide_gallery li:hover img{transform: scale(1.1);}
    #slide_gallery_box .slide_gallery li:hover dt{color: #00abcd;}
    
    
    /*company introduction*/
    #content .introduction{overflow: hidden; position: relative;}
    #content .introduction_inner{width: 1200px; margin: 0 auto;}
    #content .companyBox{ background: #fff; width: 494px; height: 200px; margin: 25px 0 77px 23px; padding: 50px 74px 40px 72px;box-shadow:2px 2px 5px 2px #999; position: absolute; z-index: 100;}
    #content .introduction_title{font-size: 40px; font-weight: bold; font-family: 'Roboto', sans-serif; margin-bottom: 30px;}
    #content .companyBox p{ margin-bottom: 30px; text-align: center; line-height: 1.5em;   font-family: 'Nanum Gothic', sans-serif; font-size: 1.375em;}
    #content .companyBox a{margin-left: 208px; font-family: 'Nanum Gothic', sans-serif;}
    #content .introduction_pic{float: right;  margin-right: 23px; margin-bottom: 50px;}
    #content .companyBox a:hover{text-decoration: underline;}
    #content .border_top,.border_right,.border_bottom,.border_left {z-index: 10; background: rgba(0, 171, 205, .8); display: block; position: absolute;}
    #content .companyBox .border_top{ width: 0; height: 15px; top: 0; right: 0; transition: all .8s;}
    #content .companyBox:hover .border_top { width: 640px; height: 15px; top: 0; right: 0; }
    #content .companyBox .border_bottom{bottom: 0; right: 0;  height: 15px; width: 0px; transition: width 2s;}
    #content .companyBox:hover .border_bottom {bottom: 0; right: 0;  height: 15px; width: 640px;}
    #content .companyBox .border_left{width: 15px; height: 0; top: 15px;left: 0; transition: height 1.8s;}
    #content .companyBox:hover .border_left{width: 15px; height: 260px; top: 15px; left: 0;}
    #content .companyBox .border_right{width: 15px; height: 0; top: 15px;right: 0; transition: height .5s;}
    #content .companyBox:hover .border_right{width: 15px; height: 260px; top: 15px; right: 0}
       
    
    /*rnd*/
    #content .rnd{overflow: hidden; position: relative;}
    #content .rnd_inner{width: 1200px; margin: 0 auto;}
    #content .rndBox{background: #fff; width: 392px; height: 200px; padding: 50px 120px 40px 120px;  box-shadow:2px 2px 5px 2px #999; position: absolute; margin: 25px 0 155px 545px;}
    #content .rnd_title{font-size: 40px; font-weight: bold; font-family: 'Roboto', sans-serif; margin-bottom: 30px; text-align: center;}
    #content .rndBox p{margin-bottom: 30px; text-align: center; line-height: 1.5em;  font-family: 'Nanum Gothic', sans-serif; font-size: 1.375em;}
    #content .rndBox ul{overflow: hidden;}
    #content .rndBox li{float: left; margin-right: 100px; font-family: 'Roboto', sans-serif;}
    #content .rndBox .last{margin-right: 0; font-family:'Nanum Gothic', sans-serif;}
    #content .rnd_pic{float: left; margin: 0 0 130px 23px; }
    #content .rndBox li:hover{text-decoration: underline;}
    #content .rndBox .border_top{ width: 0; height: 15px; top: 0; right: 0; transition: all .8s;}
    #content .rndBox:hover .border_top { width: 632px; height: 15px; top: 0; right: 0; }
    #content .rndBox .border_bottom{bottom: 0; right: 0; height: 15px; width: 0px; transition: width 2s;}
    #content .rndBox:hover .border_bottom {bottom: 0; right: 0;  height: 15px; width: 632px;}
    #content .rndBox .border_left{width: 15px; height: 0; top:15px;left: 0; transition: height 1.8s;}
    #content .rndBox:hover .border_left{width: 15px; height: 260px; top: 15px; left: 0;}
    #content .rndBox .border_right{width: 15px; height: 0; top: 15px;right: 0; transition: height .5s;}
    #content .rndBox:hover .border_right{width: 15px; height: 260px; top: 15px; right:0}
    
    /*contribution*/
    #content .contribution{padding-top: 110px; background: #f9f9f9; overflow: hidden;  margin: 0 auto;}
    #content .contribution_inner{width: 1200px; margin: 0 auto; position: relative;}
    #content .contribution_title{font-size: 50px; font-weight: bold; font-family: 'Roboto', sans-serif; margin-bottom: 50px; text-align: center;}
    #content .contribution .sub_text{font-family: 'Nanum Gothic', sans-serif; font-size:1.125em;text-align: center; margin-bottom: 65px; line-height: 1.5em;} 
    #content .con_item1{float: left; }
    #content .con_item2{float: left; margin-left: 53px;}
    #content .con_item3{float: right;}
    #content a:hover .item1_pic img{opacity: .8; transform: scale(1.1);}
    #content a .item1_pic img{transition: all .5s;}
    #content a {position: relative;}
    #content a .item1_pic::after{content: '';display: block;width: 320px;height: 320px;border-radius: 160px;border: 2px solid #fff;position: absolute;left: 20px;top: 20px; transition: all .5s;}
    #content a .item2_pic::after{content: '';display: block; width: 320px;height: 320px;border-radius: 160px;border: 2px solid #fff;position: absolute;left: 18px;top: 18px;}
    #content a .item3_pic::after{content: '';display: block;width: 320px;height: 320px;border-radius: 160px;border: 2px solid #fff;position: absolute;left: 18px;top: 19px;}
    
    #content .item1_pic{overflow: hidden; border-radius: 181px; transition: all .5s; transform: scale(1);box-shadow: 5px 5px 7px 3px #999;}
    #content a:hover .item2_pic img{opacity: .8; transform: scale(1.1);}
    #content a .item2_pic img{transition: all .5s;}
    #content .item2_pic{overflow: hidden; border-radius: 181px; margin-bottom: 50px; transition: all .5s; transform: scale(1); box-shadow: 5px 5px 7px 3px #999;}
    #content a:hover .item3_pic img{opacity: .8; transform: scale(1.1);}
    #content a .item3_pic img{transition: all .5s;}
    #content .item3_pic{overflow: hidden; border-radius: 181px; margin-bottom: 50px; transition: all .5s; transform: scale(1); box-shadow: 5px 5px 7px 3px #999;}
    #content .contribution img{border-radius: 181px; }
    #content .item1_text{font-family: 'Nanum Gothic', sans-serif; font-size: 26px;color: #333; text-align: center;  margin-bottom: 120px;margin-top: 50px;}
    #content .item2_text{font-family: 'Nanum Gothic', sans-serif; font-size: 26px;color: #333; text-align: center; margin-bottom: 120px;margin-top: 50px;}
    #content .item3_text{font-family: 'Nanum Gothic', sans-serif; font-size: 26px; color: #333; text-align: center; margin-bottom: 120px;  margin-top: 50px;}
    
    /* #content .item1_under{width: 0; height: 7px; background: #00abcd;
    position: absolute; top: 60px; left: 150px; transition: width .5s;}
    #content .item2_under{width: 0; height: 7px; background: #00abcd;
        position: absolute; top: 60px; left: 150px; transition: width .5s;}
    #content .item3_under{width: 0; height: 7px; background: #00abcd;
    position: absolute; top: 60px; left: 150px; transition: width .5s;}
    
    #content a:hover .item1_under{width: 70px; height: 7px; background: #00abcd;
        position: absolute; top: 60px; left: 150px;}
    #content a:hover .item2_under{width: 70px; height: 7px; background: #00abcd;
            position: absolute; bottom: -545px; left: 570px}
    #content a:hover .item3_under{width: 70px; height: 7px; background: #00abcd;
        position: absolute; bottom:-545px; left: 985px}
          */
    
    #content .item1_effect{position: relative;}
    #content .item1_effect p{position: absolute; transition: all.5s;}
    #content a:hover .item1_effect p{position: absolute; bottom: 360px; right: 100px; font-size: 34px; color: #fff; font-family: 'Roboto', sans-serif; transform: translate(0px,0px); font-weight: 500; text-shadow: 5px 5px 5px rgb(0 24 47 / 50%);}
    #content .item2_effect{position: relative; color: #fff;}
    #content .item2_effect p{position: absolute; transition: all.5s; color: #fff;}
    #content a:hover .item2_effect p{position: absolute; bottom: 360px; right: 118px; font-size: 34px; color: #fff; font-family: 'Roboto', sans-serif; font-weight: 500; transform: translate(0px,0px); text-shadow: 5px 5px 5px rgb(0 24 47 / 50%);}
     #content .item3_effect{position: relative; color: #fff;}
    #content .item3_effect p{position: absolute; transition: all.5s;}
    #content a:hover .item3_effect p{position: absolute; bottom: 360px; right: 73px; font-size: 34px; color: #fff; font-family: 'Roboto', sans-serif; transform: translate(0px,0px); font-weight: 500; text-shadow: 5px 5px 5px rgb(0 24 47 / 50%);}
    
    
    
     /*news*/
    #content .pressroom{ padding: 130px 0 170px 0;}
    #content .news{margin: 0 auto; width: 1000px; position: relative;}
    #content .news .news_tex{font-family: 'Nanum Gothic', sans-serif; text-align: center; font-size: 1.125em;margin-bottom: 80px;}
    #content .news ul{padding: 0 25px;}
    #content .news_box{overflow: hidden; border-bottom: 1px solid #ccc ;margin-top: 20px; }
    #content .news_box p{float: left; font-family: 'Nanum Gothic', sans-serif; }
    #content .news_box p:nth-child(1){font-size: 18px; font-weight: bold; margin-bottom: 10px;}
    #content .news_box p:nth-child(2){clear: both;margin-bottom: 20px; font-size: 14px; color: #666;}
    #content .news_box span{float: right; font-size: 1.125em; font-weight: normal;  font-family: 'Nanum Gothic', sans-serif;}
    #content .news_title{font-size:50px; font-weight: normal; font-family: 'Roboto', sans-serif; font-weight: bold;  margin-bottom: 50px; margin-left: 23px; text-align: center;}
    #content .news .more{ position: absolute; font-family: 'Roboto', sans-serif; bottom: -40px; right: 25px;}
    #content .news .more:hover{text-decoration: underline;}
    #content .news_box p{transition: all .3s;}
    #content .news_box:hover p{color: #00abcd;}
    
    
    /* #content .notice{width: 599px; float: right; position: relative;
        margin-bottom: 130px;}
    #content .notice ul{padding: 0 25px;}
    
    #content .notice_box{overflow: hidden; border-bottom: 1px solid #999 ;
    margin-top: 20px; }
    #content .notice_box p{float: left; font-size: 1.125em; font-weight: normal; 
        font-family: 'Nanum Gothic', sans-serif; margin-bottom: 20px;
    }
    #content .notice_box span{float: right; font-size: 1.125em; font-weight: normal; 
        font-family: 'Nanum Gothic', sans-serif;}
    #content .notice_title{font-size:3em; font-weight: normal; font-family: 'Roboto', sans-serif;
        margin-bottom: 50px; margin-left: 23px;}
    #content .notice .more{position: absolute; top: 30px; right: 23px;
    transition: all .2s;}
    #content .notice .more:hover{text-decoration: underline;}
    #content .notice_box p{transition: all .3s;}
    #content .notice_box:hover p{color: #00abcd;} */
    
    
    /*recruit*/
    /*#content .recruit{margin-bottom: 120px; height: 350px;background: url(../images/recruit.jpg)top no-repeat ; background-attachment: fixed;position: relative; overflow: hidden; z-index: 10;}
    #content .recruit .opacity_box{ height: 350px; width:100%;background: rgba(0, 0, 0, .4); position: absolute; z-index: -1;}
    #content .recruit_inner{width: 1200px; margin: 0 auto;}
    #content .recruit .recruit_title{font-size: 50px; color: #fff;text-align: center; margin-bottom: 30px; margin-top: 55px;}
    #content .recruit_inner p{font-size: 22px; line-height: 1.5em; text-align: center;  margin-bottom: 30px; color: #fff;}
    #content .recruit_inner a{display: block; width: 140px; height: 20px;padding: 15px 30px; color: #fff; font-family: 'Nanum Gothic', sans-serif;text-align: center; border: 2px solid #ccc; margin: 0 auto;transition: all .3s;}
    #content .recruit_inner a:hover{font-weight: 700; color: #333; border-radius: 15px; background: #ccc; opacity: .7;}*/
    
    
    /* scroll animation 筌ㅼ뮇伊뚦첎占�(筌뤴뫗�삼쭪占�)  */
    #content .product, .pressroom{position: relative; bottom:-200px; opacity: 0; transition: all .8s}
    #content .introduction{position: relative; left:-200px; opacity: 0; transition: all .8s}
    #content .rnd{position: relative; right:-200px; opacity: 0; transition: all .8s}
    #content .boxMove{bottom:0; opacity: 1 } 
    #content .boxMove1{left:0; opacity: 1 } 
    #content .boxMove2{right:0; opacity: 1 } 